<form [formGroup]="forma">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Titulo" value="" formControlName="titulo">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Descripción" rows="3" formControlName="desc"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="guardarCambios()">Editar</button>
  <button mat-raised-button color="warn"  (click)="onNoClick()" type="button">Cancelar</button>

</form>
